:root {
    --purple: #a405b3;
    --aqua: #a5f8d3;
    --brown: #6c534e;
    --orange: #d78521;
    --navy: #003049;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--navy);
}

h1 {
    font-size: 4rem;
}

img {
    border-radius: 25px;
}

/* Name */
header {
    background-color: var(--brown);
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.name {
    color: var(--aqua);
    text-align: left;
    display: block;
    padding-left: 20px;
    padding-bottom: 1px;
}

#ben {
    color: var(--orange);
}

/* Link Bar */
.nav ul li{
    display: inline;
}

.nav ul li a {
    color: var(--aqua);
    font-size: 2rem;
    padding: 5px;
}

main {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: flex-start;
}

/* Bio and Contact */
main aside {
    background-color: var(--purple);
    color: var(--aqua);
    border-radius: 25px;
    flex: 1 1 0;
    padding: 20px;
    margin: 5px;
}

    /* Photo */
#photo {
    width: 100%;
}

/* Portfolio */
main section {
    background-color: #d78521;
    color: var(--navy);
    flex: 3 2 0;
    border-radius: 25px;
    padding: 5px;
    align-items: flex-start;
}

.portfolio h2 {
    text-align: center;
}

.portfolio img {
    width:100%;
    justify-content: center;
}

.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: space-around;

}

#firstPhoto {
    flex-basis: 95%;
}

.card {
    width: 47%;
    height:fit-content;
    flex-basis: 1 1 0;
    font-size: 1rem;
    font-weight: bolder;
}

footer {
    background-color: var(--brown);
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: var(--orange);
    font-size: 2rem;
}

@media screen and (max-width:992px) {

    .card{
        flex-basis: 95%;
    }
    
}

@media screen and (max-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    main {
        flex-direction: column;
    }

    .card{
        flex-basis: 95%;
    }
}